<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="static/img/fav.png"/>
    <title>--KAC PORTFOLIO--</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/lib/resume.min.css" rel="stylesheet">
  
    
  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none"></span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/kac.jpg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#proj">Personal Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards">Achievments</a>
          </li>
          <br>
          <br>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/vinith-kac-0107/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/vinithkac">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <!-- SAAAAAAAAAA -->
            <li class="list-inline-item">
              <a href="https://www.instagram.com/vinith_kac/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Kasi
            <span class="text-primary">Viswanathan</span>
          </h1>
          <br>
          <p class="mb-5">Passionate Machine Learning specialist with more than two years of hands-on experience in Machine Learning research and building
            innovative end-to-end Machine Learning solutions for business needs.</p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <span>
              <i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i>
              <a href="mailto:vinithkac@gmail.com"> vinthkac@gmail.com</a>
              </span>
              </a>
            </li>

            <li class="list-inline-item">
              <span>
                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                <a href="+91 9791723344"> +91 9791723344</a>
                </span>
                </a>
            </li>
            
            <li class="list-inline-item">
              <span>
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                <a href="static/files/Kac Resume.pdf" download="Kac Resume.pdf"> My CV </a>
                </span>
                </a>
            </li>


            <br>
            <br>
            <br>
          </ul>
          
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Machine Learning intern</h3>
              <div class="subheading mb-3">Grroom</div>
              <p>
                <li>Developed and fine-tuned numerous Custom Object
                recognition models for various types of apparel.</li>
                <li>To improve the model's accuracy, several image
                  augmentation approaches were proposed to create
                  training data for the existing models.</li>
                </p>
                <b>Profiles:</b> Venkatesh Pugalia- <a href = "https://grroom.in/#/"> fashion@grroom.in</a>, +91 9004661666 <br>
                <li class="list-inline-item">
                  <span>
                    <i class="fa fa-android" aria-hidden="true"></i>
                    <a href="https://play.google.com/store/apps/details?id=in.grroom.grroom"> Grroom App</a> <br>
                    </span>
                    </a>
                </li>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">December 2020 - Feburary 2021</span>
            </div>
          </div>
        <br>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0"> Research intern </h3>
              <div class="subheading mb-3">Code13 EduTech Pvt. Ltd</div>
              <p>
                <li>Read and reviewed several research papers in the field of
                  Object Detection and DeepVGI (volunteered geographic
                  information).</li>
                <li>Data from the OSM (Open Street Mam) API was collected
                  and supplemented for the training of the detection model.</li>
                <li>Implemented code for the Research article ' Random- Forest-Inspired Neural Network ' using Tensorflow.</li>
              </p>
              <b>Profiles:</b> Code13 Edutech Private Limited- <a href = "https://www.codekaroyaaro.com/"> codekaroyaaro.com</a>, +91 7020044091 <br>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary"> January 2021 - May 2021 </span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Freelance</h3>
              <div class="subheading mb-3">Fiverr, Upwork</div>
              <b>Expertise in:</b> Computer Vision ( Object detection, segmentation), Model deployment, Artificial Intelligence solutions
              <p>
               <li>I was able to lead a team of five people and manage them on many projects simultaneously. </li>   
                <li>
                  Working on various real-world projects helped me develop MLOps abilities.
                </li>
                <li>
                  I was able to maintain 5.0 ratings on both platforms (Fiverr and Upwork) for my contracts, and almost every client returned for further work in person.
                </li>
              
              </p>
              <b>Profiles:</b><br>
              <ul class="list-inline list-social-icons mb-0">
                <li class="list-inline-item">
                  <span>
                  <i class="fa fa-link" aria-hidden="true"></i>
                  <a href="https://www.upwork.com/freelancers/~01f535458f53031ec9/"> Upwork </a>
                  </span>
                </li>
                <li class="list-inline-item">
                  <span>
                  <i class="fa fa-link" aria-hidden="true"></i>
                  <a href="https://www.fiverr.com/vinithkac"> Fiverr </a>
                  </span>
                </li>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">March 2021 - Preset</span>
            </div>
          </div>

          

        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Coimbatore Institute of Technology</h3>
              <div class="subheading mb-3"> Msc integerated Artifical intelligence and Machine Learning </div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">July 2019 - April 2024</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">PKD matric Higher Secondary School</h3>
              <div class="subheading mb-3"> Computer Science </div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary"> July 2016 - May 2018 </span>
            </div>
          </div>

        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicon-c-line"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-python"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-pytorch-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-tensorflow-line-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-flask-original-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-django-plain-wordmark colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-git-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-pandas-original-wordmark"></i>
            </li>
          </ul>

          <div class="subheading mb-3">Gud #</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Data Analyst</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Artificial Intelligence Intern</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Data Science Intern</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Machine Learning Intern</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Machine Learning Researcher</li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skiier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
          <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technolgy advancements in the front-end web development world.</p>
        </div>
      </section>

<!-- ####### -->
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="proj">
        <div class="my-auto">
          <h2 class="mb-5">Personal Projects</h2>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0"> Virtual Hand cricket </h3>
              <p>
                <li>A flask app that allows you to play hand cricket with an AI bot using
                  hand gestures.</li>
                <li>Skills used: YOLO for Object detection, Flask for developing a web
                  app.</li><br>
                    <b>Dataset used :</b> Self-created and augumented hand images.
              </p>
            </div>
          </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0"> Smart Pharma Drug Locator - IOT </h3>
            <br>
            <p>
              An app that automatically locates drugs for pharmacists, as well as
informs stock of medicine that is running short or about to expire - "Patented.
            </p>
          </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0"> Food calorie predictor </h3>
            <p>
              <li>A flask-based web program that estimates the number of calories in
                your food.</li>
                  <b> Skills used :</b>Tensorflow Object Detection (TFOD) for food detection, Flask - web app deployment.
            </p>
          </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0"> Fall detection </h3>
            <p>
              <li>Given a video as input, predicts the severity of an injury caused by a person falling.</li>
              <li>Tensorflow Pose-estimator for identifying key points from the body, Keras model for forecasting injury severity based on key points in
                continuous frames. </li>
            </p>
          </div>
        </div>
      </div>
      </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">Achievements</h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Machine Learning for Kids 
              <br> Scratch (a UI- based block coding language ) , I created a Machine
              Learning programme for Kids (age of 10 - 16).</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Mobile Web Specialist - Google Certification</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              2<sup>nd</sup>
              Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
            <li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - James Buchanan High School - Hackathon 2006</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              3<sup>rd</sup>
              Place - James Buchanan High School - Hackathon 2005</li>
          </ul>
        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/lib/resume.min.js"></script>

  </body>

</html>
